* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #e09, #d0e);
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}